    <div class="media">
      <div>
        <img src="/assets/logo-v3.png" class="img-responsive col-xs-12">

      </div>
      <div class="media-body">
      <img src="/assets/rainbow-sm.png" class="img-responsive img-rounded col-xs-5 pull-right" style="margin-top:15px">
        <h3 class="text-left" style="margin-top:15px"><span class="purple">L</span>eigh <span class="text-reverse turquoise">L</span>ohnson</h3>
        <p class="sidebar">I'm a self-taught programmer infatuated with gameplay design. I blog about books, Python, Javascript, and IoT experiments. Proud supporter of <a href="https://twitter.com/theunpub">Unpub Games</a>.</p>
        <p class="sidebar">Currently a software engineer <a href="https://www.ansible.com/">@Ansible</a>.</p>
        <p class="sidebar">
        <strong>Playing:</strong> <br>Overwatch - Nuwen#1313, Roll for the Galaxy, Arboretum
        </p>

        <p class="sidebar">
        <strong>Reading:</strong> <br><i>Así es Como la Pierdes</i> by Junot Diaz</strong>
        </p>
        <!--
        <p class="sidebar">
        <strong>Making:</strong> <br> <a href="http://blog.leighjohnson.me/how-to-led-music-visualizer-raspberry-pi">An LED music visualizer</a>
        -->
      </div>
    </div>
  <div id="tag-cloud col-xs-12">
  {{ site | tag_cloud }}
  </div>
