  <p>
    <div class="media">
        <a href="http://leighjohnson.me">
          <h1 class="media-heading text-center">Leigh Johnson</h1>
        </a>
      <div>
        <img src="/assets/mountains.png" alt="Leigh Johnson" class="img-thumbnail img-responsive">
      </div>
      <div class="media-body">
        <p class="sidebar">I blog about books, IoT experiments, and games. Currently a web developer <a href="https://twitter.com/funcom">@Funcom</a>. That's a lot of Node.js, Python, and <i>by any means necessary</i>.</p>
        <p class="sidebar">
        <strong>Playing:</strong> <br>Bayonetta 1 & 2, Shadowrun: Hong Kong</p>

        <p class="sidebar">
        <strong>Reading:</strong> <br><i>Slade House</i> by David Mitchell</strong>
        </p>
        <p class="sidebar">
        <strong>Making:</strong> <br> <a href="http://blog.leighjohnson.me/how-to-led-music-visualizer-raspberry-pi">An LED music visualizer</a>
      </div>
    </div>
  </p>
  <div id="tag-cloud">
  {{ site | tag_cloud }}
  </div>