  <p>
    <div class="media">
        <a href="http://leighjohnson.me">
          <h1 class="media-heading text-center">Leigh Johnson</h1>
        </a>
      <div>
        <img src="/assets/mountains.png" alt="Leigh Johnson" class="img-thumbnail img-responsive">
      </div>
      <div class="media-body">
        <p class="sidebar">I code instructions for machines. This is my attempt to stay practiced at writing for people too.</p>
        <p class="sidebar">Currently a full stack web developer <a href="https://twitter.com/funcom">@Funcom</a>. Node.js, Python, and <i>by any means necessary</i>.</p>
        <p class="sidebar">
        <strong>Playing:</strong> <br><a href="https://boardgamegeek.com/boardgame/175199/mottainai">Mottainai</a>, <a href="https://www.kleientertainment.com/games/invisible-inc">Invisible Inc.</a></p>

        <p class="sidebar">
        <strong>Reading:</strong> <br><i>The Brief Wondrous Life of Oscar Wao</i> by <a href="https://en.wikipedia.org/wiki/Junot_D%C3%ADaz">Junot Diaz</a></strong>
        </p>
        <p class="sidebar">
        <strong>Making:</strong> <br> <a href="http://blog.leighjohnson.me/how-to-led-music-visualizer-raspberry-pi">An LED music visualizer</a>
      </div>
    </div>
  </p>
  <div id="tag-cloud">
  {{ site | tag_cloud }}
  </div>